body {
  text-align: center;
  background-image: url(background.jpg?);
}

#navbar {
  background-color: slateblue;
}

#nav-link {
  color: white;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

#os {
  position: absolute;
  top: 38%;
  left: 75%;
}

#os2 {
  position: absolute;
  top: 40%;
  left: 15%;
}

#video {
  border: solid 2px lightgray;
  border-radius: 20px;
}
